{% extends 'base_layout.html' %}

{% block content %}


    <form method="POST" action="{% url 'checkouts:checkout' %}">
    {% csrf_token %}

    

    <input type="hidden" name="product_code" value="{{ form.product_code.value }}" readonly>
    
    <label for="id_product_short_description">Desc.:</label>
    <input type="text" name="product_short_description" id="id_product_short_description" value="{{ form.product_short_description.value|default:'' }}" readonly>
    
    {% if form.product_image_url.value %}
    <img src="{{ form.product_image_url.value }}" alt="Product Image" width="200">
    {% else %}
    <p>No image available</p>
    {% endif %}

    <label for="id_product_unit_price">PU:</label>
    <input type="number" name="product_unit_price" id="id_product_unit_price" value="{{ form.product_unit_price.value|default:'' }}" readonly>


    <label for="id_customer_zip_code">ZIP Code:</label>
    <input type="text" name="customer_zip_code" id="id_customer_zip_code" value="{{ form.customer_zip_code.value|default:'' }}">

    <label for="id_order_quantity">Quantity:</label>
    <input type="number" name="order_quantity" id="id_order_quantity" min="1" value="{{ form.order_quantity.value|default:1 }}">
 
    <div class="alert alert-danger">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>


    <button type="submit">Proceed to Checkout</button>
</form>


{% endblock %}