<h2>📦 Novo Pedido Recebido - {{ order.order_ID }}</h2>
<p><strong>Nome do Cliente:</strong> {{ order.order_customer.customer_name }}</p>
<p><strong>E-mail:</strong> {{ order.order_address.customer_email }}</p>
<p><strong>Código do Produto:</strong> {{ order.order_product.product_code }}</p>
<p><strong>Descrição:</strong> {{ order.order_product.product_short_description }}</p>
<p><strong>Quantidade:</strong> {{ order.order_quantity }}</p>
<p><strong>Serviço de Frete:</strong> {{ order.order_freight_service }}</p>
<p><strong>Valor do Frete:</strong> R$ {{ order.order_freight_cost }}</p>
<p><strong>Preço Unitário:</strong> R$ {{ order.product_unit_price }}</p>
<p><strong>Total do Pedido:</strong> R$ {{ total_order_amount }}</p>
<p><strong>Status do Pagamento:</strong> {{ order.order_status }}</p>
<p><strong>Forma de Pagamento:</strong> {{ order.order_pmt_type }}</p>
<p><strong>Payment ID:</strong> {{ order.order_payment_ID }}</p>
<p><strong>Site ID:</strong> {{ order.order_site_id }}</p>
<p><strong>Endereço de Entrega:</strong></p>
<p>{{ order.order_address.customer_street }}, {{ order.order_address.customer_house_number }}</p>
<p>{{ order.order_address.customer_complement }}</p>
<p>{{ order.order_address.customer_neighborhood }}</p>
<p>{{ order.order_address.customer_city }} - {{ order.order_address.customer_state }}</p>
<p>{{ order.order_address.customer_zip_code }}</p>
<p><strong>Pedido Feito em:</strong> {{ order.order_created_at }}</p>
<p>🚀 Pedido processado.</p>
