<h2>📦 Novo Pedido Recebido - {{ order.order_ID }}</h2>
<p><strong>Nome:</strong> {{ order.order_customer.customer_name }}</p>
<p><strong>Email:</strong> {{ order.order_address.customer_email }}</p>
<p><strong>Código Produto:</strong> {{ order.order_product.product_code }}</p>
<p><strong>Descrição do Produto:</strong> {{ order.order_product.product_short_description }}</p>
<p><strong>Quantidade:</strong> {{ order.order_quantity }}</p>
<p><strong>Serviço de Frete:</strong> {{ order.order_freight_service }}</p>
<p><strong>Custo do Frete:</strong> R$ {{ order.order_freight_cost }}</p>
<p><strong>Preço Unitário do Produto:</strong> R$ {{ order.product_unit_price }}</p>
<p><strong>Total do Pedido:</strong> R$ {{ total_order_amount }}</p>
<p><strong>Status do Pagamento:</strong> {{ order.order_status }}</p>
<p><strong>Tipo de Pagamento:</strong> {{ order.order_pmt_type }}</p>
<p><strong>ID Pagamento:</strong> {{ order.order_payment_ID }}</p>
<p><strong>Site ID:</strong> {{ order.order_site_id }}</p>
<p><strong>Endereço de Entrega:</strong></p>
<p>{{ order.order_address.customer_street }}, {{ order.order_address.customer_house_number }}</p>
<p>{{ order.order_address.customer_complement }}</p>
<p>{{ order.order_address.customer_neighborhood }}</p>
<p>{{ order.order_address.customer_city }} - {{ order.order_address.customer_state }}</p>
<p>{{ order.order_address.customer_zip_code }}</p>
<p><strong>Pedido Feito em:</strong> {{ order.order_created_at }}</p>
<p>This is a test email with an inline image.</p>
{% if image_cid %}
    <img src="cid:{{ image_cid }}" alt="Test Image" width="200">
{% else %}
    <p>No image available.</p>
{% endif %}
<p>🚀 Please process this order as soon as possible.</p>
