{% extends 'base_layout_ops_order.html' %}
{% load static %}
{% block content %}
{% load l10n %}
<link rel="stylesheet" href="{% static 'orders/mutts_styles_order_list.css' %}">

<div class="overallwrapper">


    <div class="wrapper">

       
      
            {% for order in orders %}
            <div class="customer_block">
                <div class="order_1"><a href="{% url 'orders:order_show' order_ID=order.order_ID %}">{{ order.order_ID }}</a></div>
                <div class="order_2">{{ order.order_product.product_code }}</div>
                <div class="order_3">{{ order.order_quantity }} R$ {{ order.order_total_price|localize }}</div>
                <div class="order_delete">
                    <a href="{% url 'orders:order_delete' order_ID=order.order_ID %}">
                    <img src="{% static 'delete_icon.png' %}" alt="delete">
                    </a>
                </div>
                <div class="order_4">{{ order.order_customer.customer_name }}</div>
                <div class="order_5">{{ order.order_address.customer_zip_code }}</div>
                <div class="order_6">{{ order.order_status }}</div>
                

            </div>
            {% endfor %}
      
                   
        <div class="final">
            <p> </p>    
        <div>
    </div>
</div>

{% endblock %}