{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
<a href="{% url 'customers:customer_create' %}" class="add_prod">Adicionar Produto</a>
<link rel="stylesheet" href="{% static 'customers/styles_customer_list.css' %}">

<div class="customer_list_head">
    <h1>Lista de Clientes</h1>
</div>  

<div class="customer2">
    <div class="cabeca1">CPF</div>
    <div class="cabeca2">Nome do Cliente</div>
    <div class="cabeca3">Endereço</div>
</div>

<div class="scrollable-customers">
    <div class="customers">

        {% for customer in customers %}
        <div class="customer">
            <div class="cod">{{ customer.customer_cpf }}</div>
            <div class="cod">{{ customer.customer_name }}</div>
            <div class="desc">
                {% for address in customer.addresses.all %}  {# Use related_name #}
                    {{ address.customer_street }},
                    {{ address.customer_house_number }},
                    {{ address.customer_complement }}
                {% empty %}
                    <span>Endereço não disponível</span>
                {% endfor %}
            </div>

            <a href="{% url 'customers:customer_delete' customer_cpf=customer.customer_cpf %}" class="killreg">Delete</a>
        </div>
    {% endfor %}
    

        
    </div>
</div>

{% endblock %}
