{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
<a href="{% url 'customers:customer_create' %}" class="add_prod">Adicionar Cliente</a>
<link rel="stylesheet" href="{% static 'customers/styles_customer_list.css' %}">

<div class="customer_list_head">
    <h1>Lista de Endereços</h1>
</div>  

<div class="customer2">
    <div class="cabeca1">Endereço</div>
    <div class="cabeca2">CPF(s) Relacionado(s)</div>
</div>

<div class="scrollable-customers">
    <div class="customers">
        {% for address in addresses %}
            <div class="customer">
                <div class="cod">
                    {{ address.customer_street }}, 
                    {{ address.customer_house_number }}, 
                    {{ address.customer_neighborhood }} - 
                    {{ address.customer_city }}/{{ address.customer_state }}
                </div>
                <div class="desc">
                        {% if address.customer %} 
                        {{ address.customer.customer_cpf}} {{ address.customer.customer_name}} 
                        {% else %}
                        <span>Sem CPF associado</span>
                        {% endif %} 

                </div>
                <a href="{% url 'customers:customer_edit' address_id=address.id %}" class="edreg">Edit</a>
                <a href="{% url 'customers:customer_delete_address' address_id=address.id %}" class="killreg">Delete</a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

