@font-face {
    font-family: 'Signika Local';
    src: url('/static/fonts/Signika-Regular.woff2') format('woff2'),
         url('/static/fonts/Signika-Regular.ttf') format('truetype'),
         url('/static/fonts/Signika-Bold.ttf') format('truetype'),
         url('/static/fonts/Signika-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/signika/v25/vEFO2_JTCgwQ5ejvMV0Ox_Kg1UwJ0tKfX6bBjM4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  
  /* reset */
  html, body,p,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
  }
  
  
  
  
  :root{
    --primary: #f2f2f2;
    --secondary: #0e0080;
    --shadow: #8B8B8B;
    --placeholder: #dddddd;
  }
  
  
  html {
    font-size: 30px;
    height: 100%; 
    margin: 0;
    padding: 0;
  }
  






      /* Style the form container */
.create-product {
        padding: 80px 0px 0px 5px;


        display: flex;
        flex-direction: column; /* Or use flex-wrap */
        gap: 0px; 
        width: 100%;
        

}

/* Style labels */
.create-product label {
    display: block;
    text-align: left; 
    font-family: 'Signika Local', 'Signika', sans-serif; 
    background: none;
    padding: 15px 0px 0px 40px;
    border-radius: 0px; 
    overflow: hidden; 
    border: none;
    color: var(--secondary);
    font-size: 0.7em;
    list-style-type: none;

}

/* Style input fields */
.create-product input[type="text"],
.create-product input[type="number"],
.create-product input[type="file"],
.create-product textarea,
.create-product select {


    display: block;
    font-family: 'Signika Local', 'Signika', sans-serif;
    background: var(--primary);
    min-height: 1em;
    border-radius: 30px !important;
    border: 4px solid var(--secondary);
    color: var(--secondary) !important;
    font-size: 1em;
    text-shadow: 4px 4px 6px var(--shadow);
    font-weight: bold;
    width: 85%;
    margin: 0px 0px 0px 4px;
    text-align: left; /* This is more widely supported */
    margin-top: 0px;
    list-style-type: none;
}


.create-product input[type="checkbox"] {
    display: block;
    margin: auto; 
    transform: scale(1);
    padding: 0px 0px 0px 0px;
}

/* Keep file input field size */
.create-product input[type="file"] {
    font-family: 'Signika Local', 'Signika', sans-serif;
    background: var(--primary);
    min-height: 1em;
    border-radius: 30px !important;
    border: 4px solid var(--secondary);
    color: var(--secondary) !important;
    font-size: 1em;
    text-shadow: 4px 4px 6px var(--shadow);
    font-weight: bold;
    padding: 10px 0px 10px 10px;
    width: 90%;
      /* Set a max width */
}

/* Reduce only the file upload button inside the input */
.create-product input[type="file"]::-webkit-file-upload-button {
    font-family: 'Signika Local', 'Signika', sans-serif;
    background: var(--secondary);
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 10px;
    border-radius: 20px;
    text-transform: none;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
    font-size: 0.9em;
    justify-content: center;
}


.create-product input[type="file"]::-webkit-file-upload-button:hover {
    color: #222;
    background: var(--primary);
}




/* Style the submit button */
.create-product input[type="submit"] {
        display: grid;
        margin: auto;
        background: var(--secondary);
        border: 2px solid var(--primary);
        color: var(--primary);
        padding: 20px;
        border-radius: 20px;
        text-transform: none;
        box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
        font-size: 1em;
        justify-content: center;
}


.create-product input[type="submit"]:hover {
    color: #222;
    background: var(--primary);
    list-style-type: none;
}

.alert-danger {
    font-family: 'Signika Local', 'Signika', sans-serif;
    margin-left: 20px;
    font-size: 0.5em;
    color: red;
    }

  
  .final {
    margin: 20px 0px 40px 0px;
  }