{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'styles_ops.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <div class="main-header">
      <div class="logo_mutts">
        <img src="{% static 'logo_mutts.png' %}" alt="logo_mutts">
      </div>
    </div>

    <div id="content">  <!-- Changed "wrapper" to "content" and ID -->
      {% block content %}
      {% endblock %}
    </div>

    <footer>
      <div class="icons">


        <ul class="customer">
          <div class="footer_list">
            <img src="{% static 'dot_icon.png' %}" alt="product_indicator">
          </div>
          <li>
            <a href="{% url 'customers:customer_list' %}">
              <img src="{% static 'customer_icon.png' %}" alt="customer_list" >
            </a>
          </li>
        </ul> 

        <ul class="product">
          <div class="footer_list">
            <img src="{% static 'dot_icon.png' %}" alt="product_indicator">
          </div>
          <li>
            <a href="{% url 'products:product_list' %}">
              <img src="{% static 'product_icon.png' %}" alt="product_list" >
            </a>
          </li>
        </ul>

        <ul class="orders">
          <div class="footer_list">
            <img src="{% static 'dot_icon.png' %}" alt="product_indicator">
          </div>
          <li>
            <a href="{% url 'orders:order_list' %}">
              <img src="{% static 'order_icon.png' %}" alt="order_list" >
            </a>
          </li>

        </ul>
      </div>
    </footer>

  </body>
</html>