{% load static %}
<!DOCTYPE html>
<html>
<body>
  <head>
    <link rel="stylesheet" href="{% static 'styles_ops_product.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <header>

    <div class="icons">
      <div class="add_product">
        <a href="{% url 'products:product_create' %}" class="add_prod"><img src="{% static 'plus_icon.png' %}" alt="addproduct"></a>
      </div>
      <div class="customer">
        <div class="dot">
          <img src="{% static 'dot_b_icon.png' %}" alt="product_indicator">
        </div>
        <div class="icon_img">
          <a href="{% url 'customers:customer_list' %}">
            <img src="{% static 'customer_icon.png' %}" alt="customer_list" >
          </a>
        </div>
      </div> 
      <div class="product">
        <div class="dot">
          <img src="{% static 'dot_icon.png' %}" alt="product_indicator">
        </div>
        <div class="icon_img">
          <a href="{% url 'products:product_list' %}">
            <img src="{% static 'product_icon.png' %}" alt="product_list" >
          </a>
        </div>
      </div>
      <div class="orders">
        <div class="dot">
          <img src="{% static 'dot_b_icon.png' %}" alt="product_indicator">
        </div>
        <div class="icon_img">
          <a href="{% url 'orders:order_list' %}">
            <img src="{% static 'order_icon.png' %}" alt="order_list" >
          </a>
        </div>
      </div>
      <div class="logout">
        <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="icon-button">
                <img src="{% static 'logout_icon.png' %}"  alt="Logout">
            </button>
        </form>
      </div>
    </div>
  </header>




    <div id="content">  <!-- Changed "wrapper" to "content" and ID -->
      {% block content %}
      {% endblock %}
    </div>

    
    
</body>
</html>