{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <meta charset="utf-8">
  </head>
<body>
    <header class="main-header">
        <div class="logo_button">
            <img src="{% static 'logo_mutts.png' %}" alt="logo_mutts">
            <nav>
                {% if user.is_authenticated %}
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="logout-button">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'accounts:login' %}" class="login-link">Login</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>



<!DOCTYPE html>
<html>
  <body>
    <head>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="icon" href="{% static 'favicon.ico' %}">
        <meta charset="utf-8">
    </head>

 
      <div class="main-header">
          <div class="logo_mutts">
            <img src="{% static 'logo_mutts.png' %}" alt="logo_mutts">
          </div>
      </div>

      <footer>
        <div class="copyright">Copyright © 2025 Lojinha Mutts</div>
        <ul class="social">
            <li>
                <a href="https://www.instagram.com/muttspets/">
                    <img src="{% static 'ig_icon.png' %}" alt="ig_icon">
                </a>
            </li>
        </ul>
    </footer>
  </body>
  
</html>