{% load static %}
<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="{% static 'styles.css' %}">
      <link rel="icon" href="{% static 'favicon.ico' %}">
      <meta charset="utf-8">
      
      <style>
          .main-header, footer {
              background-color: #e4d0a8 !important;
          }
      </style>
  </head>
  <body>
      <div class="main-header">
          <div class="logo_mutts">
            <img src="{% static 'logo_mutts.png' %}" alt="logo_mutts">
          </div>
      </div>

      <div class="wrapper">
        {% block content %}
        {% endblock %}
      </div>

      <footer>
        <div class="copyright">Copyright © 2026 Mutts Papelaria Pet</div>
        <ul class="social">
            <li>
                <a href="https://www.instagram.com/muttspapelariapet/">
                    <img src="{% static 'ig_icon.png' %}" alt="ig_icon">
                </a>
            </li>
        </ul>
    </footer>

  </body>
</html>