{% extends 'base_layout_ops_product.html' %}
{% load static %}
{% load l10n %}
{% block content %}



    <div class="create-product">
        <head>
            <link rel="stylesheet" href="{% static 'products/mutts_styles_product_edit.css' %}">
        </head>


        <input type= "hidden" name=product_code value="{{ form.product_code.value }}">
        <input type= "hidden" name=product_short_description value="{{ form.product_short_description.value }}">
        <input type= "hidden" name=product_description_long value="{{ form.product_description_long.value }}">
        <input type= "hidden" name=product_category value="{{ form.product_category.value }}">
        <input type= "hidden" name=product_unit_price value="{{ form.product_unit_price.value }}">
        <input type= "hidden" name=product_stock value="{{ form.product_stock.value }}">
        <input type= "hidden" name=product_thumbnail_url value="{{ form.product_thumbnail_url.value }}">
        <input type= "hidden" name=product_brand value="{{ form.product_brand.value }}">
        <input type= "hidden" name=product_sku value="{{ form.product_sku.value }}">
        <input type= "hidden" name=product_weight value="{{ form.product_weight.value }}">
        <input type= "hidden" name=product_dimensions value="{{ form.product_dimensions.value }}">
        <input type= "hidden" name=product_length value="{{ form.product_length.value }}">
        <input type= "hidden" name=product_width value="{{ form.product_width.value }}">
        <input type= "hidden" name=product_height value="{{ form.product_height.value }}">
        <input type= "hidden" name=product_image_url value="{{ form.product_image_url.value }}">
        <input type= "hidden" name=product_is_active value="{{ form.product_is_active.value }}">


        <form class="site-form" action="{% url 'products:product_edit' product.product_code %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="wrapper">
                <p><label for="id_product_code">Código do Produto:</label></p>
                <input type="text" name="product_code" class="all_fields" id="id_product_code" value="{{ form.product_code.value }}" readonly>

                <p><label for="id_product_short_description">Descrição Curta:</label></p>
                <input type="text" name="product_short_description" class="all_fields" id="id_product_short_description" value="{{ form.product_short_description.value }}">

                <p><label for="id_product_description_long">Descrição Longa:</label></p>
                <input type="text" name="product_description_long" class="all_fields" id="id_product_description_long" value="{{ form.product_description_long.value }}">

                <p><label for="id_product_category">Categoria:</label></p>
                {{ form.product_category }}

               
                <p><label for="id_product_unit_price">Categoria:</label></p>
                {% with form.initial.product_unit_price|stringformat:"0.2f" as formatted_price %}
                <input type="number" step="0.01" name="product_unit_price" id="id_product_unit_price" value="{{ formatted_price }}">
                {% endwith %}
              

              

                <p><label for="id_product_stock">Qtd.em Estoque:</label></p>
                <input type="text" name="product_stock" class="all_fields" id="id_product_stock" value="{{ form.product_stock.value }}">

                <p><label for="id_product_thumbnail_url">URL Thumbnail:</label></p>
                <input type="text" name="product_thumbnail_url" class="all_fields" id="id_product_thumbnail_url" value="{{ form.product_thumbnail_url.value|default:'' }}">

                <p><label for="id_product_brand">Marca:</label></p>
                <input type="text" name="product_brand" class="all_fields" id="id_product_brand" value="{{ form.product_brand.value|default:'' }}">


                <p><label for="id_product_sku">SKU:</label></p>
                <input type="text" name="product_sku" class="all_fields" id="id_product_sku" value="{{ form.product_sku.value|default:'' }}">


                <p><label for="id_product_weight">Peso (prod. + embalagem em kg):</label></p>
                {% with form.initial.product_weight|stringformat:"0.2f" as formatted_price %}
                  <input type="number" step="0.01" name="product_weight" id="id_product_weight" value="{{ formatted_price }}">
                {% endwith %}


                <p><label for="id_product_dimensions">Dimensões do Produto (cm):</label></p>
                <input type="text" name="product_dimensions" class="all_fields" id="id_product_dimensions" value="{{ form.product_dimensions.value|default:'' }}">

    
                <p><label for="id_product_height">Altura da embalagem (cm):</label></p>
                {% with form.initial.product_height|stringformat:"0.2f" as formatted_price %}
                <input type="number" step="0.01" name="product_height" id="id_product_height" value="{{ formatted_price }}">
                {% endwith %}    
                
                <p><label for="id_product_width">Largura da embalagem (cm):</label></p>
                {% with form.initial.product_width|stringformat:"0.2f" as formatted_price %}
                <input type="number" step="0.01" name="product_width" id="id_product_width" value="{{ formatted_price }}">
                {% endwith %}

                <p><label for="id_product_length">Comprimento da embalagem (cm):</label></p>
                {% with form.initial.product_length|stringformat:"0.2f" as formatted_price %}
                <input type="number" step="0.01" name="product_length" id="id_product_length" value="{{ formatted_price }}">
                {% endwith %}



                <p><label for="id_product_image_url">Imagem do Produto:</label></p>
                {% if product.product_image_url %}
                    <img src="{{ product.product_image_url }}" width="50">
                {% endif %}
                <p>{{ form.product_image_url.label_tag }}</p>
                <input type="file" name="image_upload" id="id_product_image_url" class="all_fields">



                <p><label for="id_product_is_active">Produto está ativo? :</label></p>
                <input type="checkbox" name="product_is_active" id="id_product_is_active" {% if form.product_is_active.value %}checked{% endif %}>
            </div>

            <div class="final">
                <p> </p><br>
            </div>

            <input type="submit" value="Alterar">

            <div class="final">
                <p> </p><br>
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>Form Errors:</strong>
                        <ul>
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li>{{ field }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <p> </p><br>
            </div>
        </form>
    </div>




{% endblock %}