{% extends 'base_layout.html' %}

{% block content %}
    <div class="edit-product">
        <h2>Edit a Product</h2>
        
        
        <form class="site-form" action="{% url 'products:product_edit' product.product_code %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="id_product_code">Product Code:</label>
                <input type="text" id="id_product_code" value="{{ form.product_code.value }}" class="form-control" disabled>
                <input type="hidden" name="product_code" value="{{ form.product_code.value }}">
            </div>
        
            {{ form.product_short_description.label_tag }} {{ form.product_short_description }}
            {{ form.product_description_long.label_tag }} {{ form.product_description_long }}
            {{ form.product_category.label_tag }} {{ form.product_category }}
            {{ form.product_unit_price.label_tag }} {{ form.product_unit_price }}
            {{ form.product_stock.label_tag }} {{ form.product_stock }}
            {{ form.product_thumbnail_url.label_tag }} {{ form.product_thumbnail_url }}
            {{ form.product_brand.label_tag }} {{ form.product_brand }}
            {{ form.product_sku.label_tag }} {{ form.product_sku }}
            {{ form.product_dimensions.label_tag }} {{ form.product_dimensions }}
            {{ form.product_weight.label_tag }} {{ form.product_weight }}
            {{ form.product_height.label_tag }} {{ form.product_height }}
            {{ form.product_width.label_tag }} {{ form.product_width }}
            {{ form.product_length.label_tag }} {{ form.product_length }}
            {{ form.product_image_url.label_tag }} {{ form.product_image_url }}
            {{ form.product_is_active.label_tag }} {{ form.product_is_active }}
        
            <input type="submit" value="Save">
        </form>
    </div>
{% endblock %}


