{% extends 'base_layout_ops_product.html' %}
{% load static %}
{% block content %}


    <div class="create-product">
        <head>
            <link rel="stylesheet" href="{% static 'products/mutts_styles_product_create.css' %}">
        </head>


        
        <form class="site-form" action="{% url 'products:product_create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}  {# Use form.as_p, form.as_ul, or custom rendering #}

            
        <div class="alert-danger">
            <p> </p><br>
            {% if form.errors %}
                <p>Preenchimento dos campos obrigatórios</p>
            {% endif %}
            <p> </p><br>
        </div>
        <div class="final">
            <input type="submit" value="Adicionar">
        </div>




        </form>
    </div>



{% endblock %}