{% extends 'base_layout.html' %}

{% block content %}
    <div class="create-product">
        <h2>Adicionar um Novo Produto</h2>
        <form class="site-form" action="{% url 'products:product_create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>Form Errors:</strong>
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ field }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {{ form.as_p }}  {# Use form.as_p, form.as_ul, or custom rendering #}

            <input type="submit" value="Create">
        </form>
    </div>
{% endblock %}