{% extends 'base_layout_ops.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'products/mutts_styles_product_delete.css' %}">
</head>

<div class="cabec">
    <div class="add_product">
        <p> </p>
    </div>
    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="logout-button"><img src="{% static 'logout_icon.png' %}" width="55"></button>
    </form>
   
 </div>  


    <form class="site-form" action="{% url 'products:product_delete' product.product_code %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="delete-product">    
            <div class="code">
                <p>Código do Produto:</p>
                <input type="text" name="product_code" value="{{ product.product_code }}" readonly>
            </div>
            <div class="desc">
                <p>Descrição do Produto:</p>
                <input type="text" name="product_short_description" value="{{ product.product_short_description }}" readonly>
            </div>
        </div>
        <p> </p>
        <p> </p>
        <div class="label_confirmation">
        <p>Produto será <strong>DELETADO</strong>, CONFIRMA?</p>
        </div>
        <div class="form3">
        <button type="submit">Sim, confirmo</button>
        </div>
    </form>


    <div class="footer_list">
        <div class="indicator_1">
            <p> </p>
        </div>    
        <div class="product_indicator">
            <img src="{% static 'dot_icon.png' %}" alt="product_indicator">
        </div>
        <div class="indicator_2">
            <p> </p>
        </div>    
     
    </div>

{% endblock %}
